<!-- views/import.ejs -->
<div class="form-header">
  <h2>Garmin account</h2>
</div>

<form method="post" action="/content" novalidate>
  <div class="form-field">
    <label for="username">Username</label>
    <input class="input" id="username" name="username" type="text" value="" />
  </div>

  <!--TODO - Make authentication via SSO https://sso.garmin.com/sso/login
  so the application can view also private activities.
  div class="form-field">
    <label for="email">Password</label>
    <input class="input" id="password" name="password" type="password" value="" />
  </div-->

  <div class="form-actions">
    <button class="btn" type="submit">Import</button>
  </div>
</form>