<!-- views/import.ejs -->
<div class="form-header">
  <h2>Garmin account</h2>
</div>

<form method="post" action="/content" novalidate>
  <div class="form-field">
    <label for="email">Email</label>
    <input class="input" id="email" name="email" type="email" value="" />
  </div>

  <!--div class="form-field">
    <label for="email">Password</label>
    <input class="input" id="password" name="password" type="password" value="" />
  </div-->

  <div class="form-actions">
    <button class="btn" type="submit">Import</button>
  </div>
</form>